

.editProfile {
    text-align: center;
    border: 3px;
    border-color: black;
    border-style: solid;
    margin-top: 50px;
}

/*
.editProfile {
    margin: 16px;
    //align-items: center;
    justify-content: center;
}

.information {
    margin: 16px;
}

.profileInfo {
    margin: 16px;
}
.contactInfo {
    margin: 16px;
} */
