<app-top-bar></app-top-bar>
<h1>Item Description</h1>
<!--style="float: left;"-->
<div class="itemPictureAndDescription">
  <iframe width="300" height="300" style="border:1px solid black;">
    <label for="fname">Image:</label><br>
    <img alt="Product Image" src="/assets/DuckLogo" alt="image" />
  </iframe>
  <div class="itemDescription">
    <p style="text-align:center;">Item Description</p>
    <p>{{item.ItemDescription}}</p>
    <p></p>
    <p style="text-align:center;">Price: {{item.ItemPrice}}</p>
  </div>
</div>
<!--
<div style="float: right; text-align:center;">
  <p style="text-align:center;">Item Description</p>
</div> -->
<p></p>
<form>
  <h2> Contact </h2>
  <button type="button" style="margin:20px" [routerLink]="['/item-edit', ItemID]">Edit Item</button>
  <p></p>
  <label for="fname">First Name: {{item.FirstName}}</label><br>
  <p></p>
  <label for="fname">Last Name: {{item.LastName}}</label><br>
  <p></p>
  <label for="fname">Email: {{item.Email}}</label><br>
  <p></p>
  <label for="fname">Phone Number: {{item.PhoneNumber}}</label><br>
  <p></p>
  <label for="fname">Location: {{item.Location}}</label><br>
</form>