<app-top-bar></app-top-bar> 
<h1>Item Description</h1>
<div>
<iframe width="300" height="300" style="border:1px solid black;">
  <label for="fname">Image:</label><br>
  <img
      alt="Product Image"
      src="/assets/DuckLogo" alt="image"
    />
</iframe>
</div>
<div>
<p style="text-align:center;">Item Description</p>
</div>
<form>
  <label for = "fname">First name:</label><br>
  <input type="text" id="fname" name="fname"><br>
</form>
<form>
  <label for = "lname">Last name:</label><br>
  <input type="text" id="lname" name="lname"><br>
</form>
