
<app-top-bar></app-top-bar> <!-- -->

<!-- <app-search-bar></app-search-bar> -->
      

<div class="search-container">
    <form action="/action_page.php">
       <input type="text" placeholder="Search.." name="search">
       <i> </i>
       <button type="button" style="margin:20px">Search</button>
       <button type="button">Apply Filter</button>

    </form>
</div>


<div class="itemSet">
    <app-item-preview></app-item-preview> 
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview> 
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview> 
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
    <app-item-preview></app-item-preview>
</div>