
<app-top-bar></app-top-bar> <!-- -->

<!-- <app-search-bar></app-search-bar> -->
 
<!--
variables=[
    searchButton,
    filterButton
]

<div ngFor="let person at people">
    {{variables}}
</div>
-->

<div class="search-container">
    <form action="/action_page.php">
       <input type="text" placeholder="Search.." name="search">
       <i> </i>
       <button type="button" style="margin:20px">Search</button>
       <button type="button" >Apply Filter</button>

    </form>
</div>


<div class="itemSet">
    <div *ngFor="let item of items" [routerLink]="['/item-menu']">
        <div class="itemPreview" role="menuitem">
            <div class="card">
                <img src="/assets/DuckLogo" alt="Avatar">
                <div class="container">
                  <h4><b>{{item.title}}</b></h4>
                  <p>Price: ${{item.price}}</p>
                </div>
            </div>
        </div>
    </div>
</div>