<!-- <p>{{ loginStatus }}</p>-- -->



<!-- Top Bar -->
<div class="mainbar" role="banner">
    <div class="leftSide">
        <img
        width="80"
        alt="Quackhead Logo"
        src="/assets/DuckLogo" alt="image"
        />
        <h1>UniSell</h1>
    </div>
    
    <div class="rightSide">
        <div class="card-container">
            <button class="card card-small" (click)="onClick()">Login</button>
        </div>
        
        <div class="card-container">
            <button class="card card-small" (click)="onClick()"[routerLink]="'/profile'">Profile</button>
        </div>
    </div>

    

    <!--
    <div class="card-container">
        <button type="button" (click)="onClick()">Login</button>
    </div> -->
    
    <!-- <div class="card-container">
        <button class="card card-small"
        {click}="onLogin()">Login</button>
    </div> -->

   
        <input type="hidden" #selection>
    
</div>