<app-top-bar></app-top-bar> 

<div class="profilePage" style="text-align: center; border: 3px; border-color: black;">
    
    <h1>Profile</h1>
    <div class="information">
        <div class="page-content">
            <h2 class="info">Information</h2>
            <p class="info-info">
            Name: Ducky Momo <br>
            Location: Champaign, IL<br>
            Phone Number: (224) 534-5830<br>
            Email: duckymomo@gmail.com
            </p>
            <h2 class="ifs">Items for Sale</h2>
            <!-- <div class="card">
                <img class="duckPic" src="/assets/duck-scaled.jpeg" alt="rubber ducky picture">
                <div class="container">
                  <h4><b>Rubber Ducky</b></h4>
                  <p>Price: $1 each</p>
                </div>
            </div> -->
            <app-item-preview></app-item-preview>
        </div>
    </div>
</div>